<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{ISO8601} %-5level threadID:[%T] %logger{36} - %msg%n}"
                           disableAnsi="false"/>
        </Console>

    </Appenders>

    <Loggers>
        <Root>
        </Root>

        <!-- LOG everything from my application to console -->
        <Logger name="com.mastery.java" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- LOG everything from AOP-based logger to console -->
        <Logger name="com.mastery.java.task.logger" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>

</Configuration>